* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100vw;
  overflow: hidden;
  background: pink;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
header,
section,
footer {
  margin: 0 auto;
  width: 100vw;
}
header {
  height: 54px;
}
section {
  height: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
footer {
  height: 100px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
